[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gitlab.com"]
	helper = cache --timeout=99999
[user]
	name = LeddaZ
	email = leonardoledda@gmail.com
[color]
	ui = auto
